@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  font-family: "Outfit", sans-serif;
}

.mainbg{
    background-color: rgb(0, 0, 0);
    /*   */
}
.common{
  font-family: "Outfit", sans-serif;
}
.navbg{
   z-index: 10;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(5px);
}

.mainSub{
    background-color: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(5px);
    
}
.bgblur{
    background-color: rgba(225, 209, 209, 0.164);
    backdrop-filter: blur(5px);
}
.loadingcube{
    /* animation: cube 10s linear infinite; */
    /* box-shadow:inset rgba(255, 255, 255, 0.279)5px 5px 6px 3px; */
}
@keyframes cube {
    100%{
  transform: rotateZ(500deg)
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.arrowparent p{
  font-family:cursive;
}
html , body{
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
  }
/* 
#main{
    width: 100%;
    height: 100vh;
    background-color: orangered;
} */

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0vw 10vw;
    z-index: 99;
}

nav a, i{
    font-size: 1vw;
    text-decoration: none;
    color: #fff;
}

.cntr-nav{
    display: flex;
    gap: 3vw;
}

nav i{
    font-size: 1.5vw;
}

.one{
    display: flex;
    align-items: center;
    justify-content: center;

}

.one h1{
    font-size: 25vw;
    font-family: Product Sans B;
    color: #322e2e;
}

#fanta{
    position: absolute;
    /* width: 40%; */
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#navbar{
  position: absolute;
  top:-20rem;

}

  .cursor {
    height: 50px;
    width: 50px;
color: black;
background-color: #fff;
    border-radius: 50%;
    position: absolute;
    transform-origin: 100% 100%;
    box-sizing: border-box;
    transition: opacity 0.25s ease;
    backdrop-filter: grayscale(1);
    pointer-events: none;
    z-index: 100;
  }
  .cursorDot {
    height: 10rem;
    width: 10rem;
    color: black;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;

  }
  .cursorBlock {
    opacity: 1;
  }
  
  .cursorNone {
    opacity: 0;
  }
  .parent :hover .cursor{
    transform: scale(5);
  }

  .textColor{
    color: black;
    z-index: 1000000000;
  }
  .textbganimate{
    cursor: pointer;
  }
  .underline{

    transition: 0.5s ease-in-out;

  }
  .textbganimate:hover .underline{
  
    width: 100%;
    transition: 0.5s ease-in-out;

  }
  input{
    outline: none;
  } 
  .subesvg {
    width: 2rem; /* Adjust size as needed */
    height: 2rem; /* Adjust size as needed */
    stroke-dasharray: 100; /* Initial dash array length */
    stroke-dashoffset: 0; /* Initial dash offset */
    /* transition: stroke-dasharray 0.3s ease;  */
    stroke:rgb(255, 255, 255);
color: white;
    margin: auto;
    /* transition: 0.5s ease-in-out; */
  }

  @keyframes dash {
    to {
   
      transform: rotate(90deg);
      stroke-dashoffset: -110; 
    }
  }
  /* .menubtn:hover .subesvg {
    transition: 0.5s ease-in-out;
    animation: dash 0.5s linear forwards 1;
  } */

  .menubtn:hover .dotone{
    animation: dotone 1s linear infinite;
  }
  .menubtn:hover .dottwo{
    animation: dotone 1s linear infinite;
    animation-delay: 1.3s;
  }

  .menubtn:hover .dotthree{
    animation: dotone 1s linear infinite;
    animation-delay: 1.5s;
  }
  @keyframes dotone {
    0% {
   opacity: 0.1;
  

    }
    100%{
      opacity: 1;
    }
  }
  .arrow{
    transition: 0.5s ease-in-out;
  }
  .parentBox:hover .arrow{
    transform: rotate(45deg);
  }
  .menubtn{
    transition: 0.5s ease-in-out;
  }
.menuOne{
  right: -30rem;
  transition: 0.5s ease-in-out;
}
  .menubtn:hover .menuOne {
 
     right: 0rem;

  }

  .menuNav:hover{
    transition: 0.5s ease-in-out;
color:  rgb(172, 223, 234);
  }
  .bgblur{
    background-color: rgba(255, 255, 255, 0.132);
    backdrop-filter: blur(5px);
    border-radius: 20px;
  }

  /* ========================= */

  .slider-container{
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    /* background-image: url('Images/bg-img.png'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider-images{
    display: flex;
    align-items: center;
    gap: 18px;
  }
  .slider-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }
  .slider-img{
    width: 110px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 0.7s ease;
  }
  .slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
    height: 480px;
  }
  .slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
    height: 560px;
  }
  .slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
    height: 665px;
  }
  h1{
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #fcfafa;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: rotate(270deg);
    transition: 0.7s ease;
  }
  .details{
    position: absolute;
    bottom: 43px;
    left: 43px;
  }
  .details h2{
    font-family: "Outfit", sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    text-align: left;
    color: #f7f2f2;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
  }
  .details p{
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    line-height: 33px;
    text-align: left;
    color: #2e1e1e;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
  }
  .slider-img.active{
    width: 600px !important;
    height: 550px !important;
  }
  .slider-img.active h1{
     display: none;
  }
  .slider-img.active .details p, .slider-img.active .details h2{
    display: block;
  }


  /* ========= */
  .initalLoading{
animation: slideright 0.5s linear forwards 1;
  }
  @keyframes slideright{
    100%{
      right: 0;
    }
  }
  .finalLoading{
    
 left: 100vw;
    transition: 1s ease-in-out;

  }
  .contactForm{
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.413);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .contactForm:hover{
    background-color: rgb(0, 0, 0);
  }
  .contactInput ::placeholder{
  color: rgb(255, 255, 255);
  }
  .contactInput:focus {
    outline: none;
  }
  

  .manufact_ul{
    list-style:square
  }


  /* ========== */
  .button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    overflow: hidden;
    z-index: 1;
    color: black;
    padding: 0.7em 1.8em;
    cursor: pointer;
    font-size: 20px;
    /* border-radius: 0.5em; */
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #2f3030;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #313232;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #313232;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #282929;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .conatct-bg{
    background-color: rgb(241, 241, 241);
  }


  /* button3 */
  .button3 {
    display: inline-block;
    transition: all 0.2s ease-in;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    padding: 0.7em 1.8em;
    cursor: pointer;
    font-size: 20px;
    /* border-radius: 0.5em; */
    background: #ff0101;
    border: 1px solid #ff0101;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
  }
  
  .button3:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button3:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button3:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #2f3030;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button3:hover {
    color: #ffffff;
    border: 1px solid #313232;
  }
  
  .button3:hover:before {
    top: -35%;
    background-color: #313232;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button3:hover:after {
    top: -45%;
    background-color: #282929;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .conatct-bg{
    background-color: rgb(241, 241, 241);
  }
  input:checked{
    background-color: red;
  color: red;
  }


  /* circle */
  