@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.mainbg{
    background-color: rgb(0, 0, 0);
}
.navbg{
   z-index: 10;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(5px);
}

.mainSub{
    background-color: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(5px);
    
}
.bgblur{
    background-color: rgba(225, 209, 209, 0.164);
    backdrop-filter: blur(5px);
}
.loadingcube{
    /* animation: cube 10s linear infinite; */
    /* box-shadow:inset rgba(255, 255, 255, 0.279)5px 5px 6px 3px; */
}
@keyframes cube {
    100%{
  transform: rotateZ(500deg)
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.arrowparent p{
  font-family:cursive;
}
html , body{
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
  }
/* 
#main{
    width: 100%;
    height: 100vh;
    background-color: orangered;
} */

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0vw 10vw;
    z-index: 99;
}

nav a, i{
    font-size: 1vw;
    text-decoration: none;
    color: #fff;
}

.cntr-nav{
    display: flex;
    gap: 3vw;
}

nav i{
    font-size: 1.5vw;
}

.one{
    display: flex;
    align-items: center;
    justify-content: center;

}

.one h1{
    font-size: 25vw;
    font-family: Product Sans B;
    color: #322e2e;
}

#fanta{
    position: absolute;
    /* width: 40%; */
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#navbar{
  position: absolute;
  top:-20rem;

}

  .cursor {
    height: 50px;
    width: 50px;
color: black;
background-color: #fff;
    border-radius: 50%;
    position: absolute;
    transform-origin: 100% 100%;
    box-sizing: border-box;
    transition: opacity 0.25s ease;
    backdrop-filter: grayscale(1);
    pointer-events: none;
    z-index: 100;
  }
  .cursorDot {
    height: 10rem;
    width: 10rem;
    color: black;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;

  }
  .cursorBlock {
    opacity: 1;
  }
  
  .cursorNone {
    opacity: 0;
  }
  .parent :hover .cursor{
    transform: scale(5);
  }

  .textColor{
    color: black;
    z-index: 1000000000;
  }
  .textbganimate{
    cursor: pointer;
  }
  .underline{

    transition: 0.5s ease-in-out;

  }
  .textbganimate:hover .underline{
  
    width: 100%;
    transition: 0.5s ease-in-out;

  }
  input{
    outline: none;
  } 
  .subesvg {
    width: 3rem; /* Adjust size as needed */
    height: 3rem; /* Adjust size as needed */
    stroke-dasharray: 100; /* Initial dash array length */
    stroke-dashoffset: 0; /* Initial dash offset */
    /* transition: stroke-dasharray 0.3s ease;  */
    stroke:rgb(255, 255, 255);
color: white;
    margin: auto;
    /* transition: 0.5s ease-in-out; */
  }

  @keyframes dash {
    to {
   
      transform: rotate(90deg);
      stroke-dashoffset: -110; 
    }
  }
  /* .menubtn:hover .subesvg {
    transition: 0.5s ease-in-out;
    animation: dash 0.5s linear forwards 1;
  } */

  .menubtn:hover .dotone{
    animation: dotone 1s linear infinite;
  }
  .menubtn:hover .dottwo{
    animation: dotone 1s linear infinite;
    animation-delay: 1.3s;
  }

  .menubtn:hover .dotthree{
    animation: dotone 1s linear infinite;
    animation-delay: 1.5s;
  }
  @keyframes dotone {
    0% {
   opacity: 0.1;
  

    }
    100%{
      opacity: 1;
    }
  }
  .arrow{
    transition: 0.5s ease-in-out;
  }
  .parentBox:hover .arrow{
    transform: rotate(45deg);
  }
  .menubtn{
    transition: 0.5s ease-in-out;
  }
.menuOne{
  right: -30rem;
  transition: 0.5s ease-in-out;
}
  .menubtn:hover .menuOne {
 
     right: 0rem;

  }

  .menuNav:hover{
    transition: 0.5s ease-in-out;
color:  rgb(172, 223, 234);
  }
  .bgblur{
    background-color: rgba(255, 255, 255, 0.132);
    backdrop-filter: blur(5px);
    border-radius: 20px;
  }

  /* ========================= */

  .slideC {
   
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 40%;
    height: 272px;
    /* margin: 0 auto; */
  }
  
  .slide {
    width: 100%;
    height: 272px;
    transition: transform 500ms ease 0s, 
                opacity 500ms ease 0s,
               visibility 500ms ease 0s;
    position: absolute;
    top: 0;
    border-radius: 12px;
  }
  
  /* 3D reflection effect */
  .reflection {
    /* border: 1px solid white; */
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: -60px;
    border-radius: 12px;
    transition: transform 500ms ease 0s, opacity 500ms ease 0s,
      visibility 500ms ease 0s;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .sliderContent {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 30px;
    align-items: flex-start;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .sliderContent h2 {
    margin: 16px 0;
  }
  .sliderContent p {
    margin: 0;
    margin-bottom: 16px;
  }
  
  /* normal css  */
  

   
  .center {
    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
  }
 
  
  .btns {
    /* border: 1px solid white; */
    /* padding: 100px; */
  }
  
  .btns .btn {
    cursor: pointer;
  }
  
  .btns .btn:last-child {
    margin-left: 40px;
  }

  .initalLoading{
    width: 100%;
    transition: 0.5s ease-in-out;
   
  }